body{
	padding: 20px;
}
/* index */
#top{
	text-align: right;
	padding-right: 30px;
}

#logo{
	margin-bottom: 30px;
}

#text{
	padding: 30px;
}

#text p{
	font-size:20px;
}
/*main*/

#menu{
	float: left;
	height:2000px;
	width: 20%;
}

#content{
	padding: 30px;
	padding-top:30px;
	margin-left: 20%;
}

#content p{
	font-size: 20px;
}

/* sign in */

#form_sign{
	border: 2px solid #85CCE9;
	background: #f5f5f5;
	margin: 150px auto;
	width: 550px;
	padding: 20px;
}

.profile_inp{
	padding-top: 30px;
}
#form_profile{
	width: 70%;
}
